{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2 class="title text-center">S'inscrire</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif%}
        <table class="login-form">
        {% for field in form %}
          <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
          </tr>
          {% for error in field.errors %}
            <tr><td></td><td class="alert alert-danger">{{ error }}</td></tr>
            {% endfor %}
          {% endfor %}
         </table>
        <button class="btn btn-info" type="submit">S'inscrire</button>
    </form>
    <div>
    <small class="not-user">
        Déjà inscrit.e?
        <a class="reset-link" href="{% url 'login' %}">Se connecter</a>
    </small>
  </div>
{% endblock %}